build/
SpyderHapi/
dist/
HAPI_Nile.egg-info/
Examples/data/Hapi.sublime-project
Examples/data/Hapi.sublime-workspace
HapiSpyder/
*.pyc
*.zip
*.ini
*.drawio
*.dbf
*.prj
*.xml
*.cpg
*.sbx
*.shx
*.tfw
*.ovr
*.jpg
*.shp
*.txt
*.npy
*.pkl
*.ipynb
# conda smithy ci-skeleton start
*.pyc
build_artifacts
# conda smithy ci-skeleton end
.azure-pipelines/
.ci_support/
.circleci/
.github/
.scripts/
.ci_support/README
.circleci/config.yml
.scripts/run_docker_build.sh
.scripts/build_steps.sh
.github/workflows/webservices.yml
.github/workflows/automerge.yml
docs/source/HapiDocs.sublime-project
docs/source/HapiDocs.sublime-workspace
docs/HapiDocs.sublime-project
docs/HapiDocs.sublime-workspace
Hapi/saintvenant.py
Hapi/HM.py
Hapi/remotesensing.py
Hapi/HM.py
