build/
dist/
Hapi.egg-info/
.azure-pipelines/
.ci_support/
.circleci/
.github/
.scripts/
Examples/data/Hapi.sublime-project
Examples/data/Hapi.sublime-workspace
*.pyc
*.tif
*.zip
*.ini
*.drawio
Web_application/HBV_distributed/static/images/cover00.jpg
Web_application/HAPI/static/input_data/Google API.txt
*.dbf
*.prj
*.xml
*.cpg
*.sbx
*.shx
*.tfw
*.ovr
*.jpg
*.shp
*.txt
*.npy
*.pkl
*.ipynb
# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
.azure-pipelines0/azure-pipelines-linux.yml
.ci_support/README
.ci_support0/linux_.yaml
.circleci/config.yml
.ci_support0/README
.scripts0/run_docker_build.sh
.scripts0/build_steps.sh
.scripts/run_docker_build.sh
.scripts/build_steps.sh
.github0/workflows/webservices.yml
.github0/workflows/automerge.yml
.github/workflows/webservices.yml
.github/workflows/automerge.yml
.circleci0/config.yml
