build/
dist/
HAPI_Nile.egg-info/
*.pyc
*.zip
*.drawio
*.dbf
*.prj
*.xml
*.cpg
*.sbx
*.shx
*.tfw
*.ovr
*.jpg
*.shp
*.npy
*.pkl
# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
Hapi/hm/saintvenant.py
Hapi/hm.py

HAPI_Nile.egg-info/PKG-INFO
docs/.vscode/
Examples/data/Hapi.qgz

.idea/.gitignore
.idea/HAPI.iml
*.iml
