name: conda-deployment

on: [push]

jobs:
  Main-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11"]
    env:
      OS: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          #use-mamba: true
          auto-update-conda: false
          environment-file: environment.yml
          auto-activate-base: false
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,defaults
          channel-priority: true
          show-channel-urls: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install dev-dependencies
        run: |
            python -m pip install -r requirements-dev.txt

      - name: Generate coverage report
        shell: bash -el {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          pytest -sv -m "not plot"
