name: conda-deployment

on: [push]

jobs:
  Main-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
    env:
      OS: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          mamba-version: "*"
          use-mamba: true
          auto-update-conda: false
          auto-activate-base: false
          environment-file: environment.yml
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: true
          show-channel-urls: true

      - name: Install dev-dependencies
        shell: bash -el {0}
        run: |
            pip install pytest
            pip install .[test] --no-deps --verbose

      - name: Run tests
        shell: bash -el {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          pytest -sv -m "not plot"
